:root {
  --primary: #63b3ff;
  --secondary: #0573db;
  --grey1: #00000080;
  --grey2: #0000006f;
  --grey3: #ffffffbf;

  // Light Mode
  --background-light: #eaeff5;
  --text-light-black: #11171d;
  --card-header-light: #e6efff;
  --card-body-light: #ffffff;
  --border-light: #ddd;
  --textbg-light: #e2f0ff;
  --textbg-light-hover: #c6e1ff;

  // Dark Mode
  --background-dark: #090e13;
  --text-dark-black: #ffffffe6;
  --card-header-dark: #25303a;
  --card-body-dark: #181e24;
  --border-dark: #1c1c1c77;
  --textbg-dark: #182839;
  --textbg-dark-hover: #324457;
}
